* {
    box-sizing: border-box;
 }

 body {
    font-family: sans-serif;
 }
/*membuat kolom pada kalkulator*/
 .flex-container-column {
    display: flex;
    flex-direction: column;
  
    /* properti pendukung */
    max-width: 800px;
    margin: 0 auto;
    text-align: right;
 }
 /*membuat baris pada kalkulator*/
 .flex-container-row {
    display: flex;
 }
 /*mengatur besar tombol pada kalkulator*/
 .button {
    flex-basis: 25%;
   
    /* properti pendukung */
    font-size: 1.5em;
    text-align: center;
    padding: 40px;
    border: 1px solid black;
    background: -webkit-linear-gradient(top, #d2d2d2, #ddd);
    cursor: pointer;
 }
 /*membuat tombol equals dua kali lebih besar daripada tombol lainnya*/
 .double {
    flex-basis: 50%;
 }
 .display {
    color: black;
    width: 100%;
    padding: 10px 20px;
    background-color: white;
    border: 1px solid black;
    font-size: 2em;
 }
 /*memberi warna pada tombol operator, equals, negative*/
 .operator,
.negative,
.equals {
   background: lightblue;
}
/*membuat kalkulator seolah-olah ada diatas kartu*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 30px;
    margin-top: 20px;
 }
 /*membuat tulisan pada tombol menjadi tebal dikarenakan tersorot oleh kursor*/
 .button:hover {
    font-weight: bold;
 }
/*menetapkan nilai padding yang pas ketika di akses pada mobil device*/
 @media screen and (max-width: 513px) {
    .button {
        padding: 10px;
    }
 }

 .history {
   width: 80%;
   margin: 30px auto 0 auto;
   overflow: scroll;
 }

 table {
   border-collapse: collapse;
   border-spacing: 0;
   width: 100%;
   border: 1px solid #ddd;
}

th,
td {
   text-align: center;
   padding: 16px;
}

th {
   background-color: lightblue;
   color: white;
}
 
tr:nth-child(even) {
   background-color: lightblue;
}

@media screen and (max-width: 513px) {
   .button {
       padding: 10px;
   }
   .history {
       width: 100%;
   }
}